*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}

.topbar{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.left{
    .logo{
        font-size: 30px;
        font-weight: bold;
    }
}
.container{
    display: flex;
    align-items: center;
    gap: 8px;
}
.sidebar{
    max-width: 300px;
    width: 300px;
}